
.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    z-index: 1000;
  background-color: rgb(246, 233, 219);

}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
padding-top: 10px;
padding-right: 10px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: #171616;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #7b6303; /* Yellow on hover */
}

/* Hamburger menu for mobile */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #101010;
  cursor: pointer;
}

/* Mobile responsive */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
  background-color: rgb(246, 233, 219);
    flex-direction: column;
    width: 200px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 1rem;
  }

  .nav-links.open {
    transform: translateX(0);
  }

  .menu-toggle {
    display: block;
  }
}
